@import "tailwindcss";

@font-face {
    font-family: Nueue;
    src: url(./assets/fonts/NeueMontreal-Regular.ttf);
}

@font-face {
    font-family: Founders;
    src: url(./assets/fonts/FoundersGrotesk-Semibold.ttf);
}

@font-face {
    font-family: Icomoon;
    src: url(./assets/fonts/icomoon.ttf);
}